.dashboard-container {
    margin: 17.75px 16px 17.75px 16px;
    padding-left: 80px;
    width: 100%;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
}

.dashboard-title {
    box-sizing: border-box;
    flex: 0 0 auto;
    font: 300 36px Nunito Sans;
    color: #242e42;
    margin: 0;
}