.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    z-index: 10;
}

.sidebar-column {
    box-sizing: border-box;
    padding-right: 15.5px;
    padding-left: 15.5px;
    background: #3492ff;
    border-right: 2px solid #3492ff;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(76, 141, 217, 0.1);
    transition: 0.3s;
    width: 120px;
    height: 100%;
}

.sidebar-column:hover {
    width: 280px;
}

.sidebar-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 30px;
    border-bottom: 1px solid #3492ff;
    width: 100%;
}

.sidebar-button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 21px;
    background: none;
    border: none;
}

.sidebar-button-container {
    display: flex;
    color: #011731;
    font: 400 14px Nunito Sans;
    margin-left: 13px;

}

.sidebar-column .sidebar-button {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    color: #e1e0e7;
    width: auto;
}

.sidebar-button:hover {
    background: #3492FF;
    border-radius: 8px;
}

.sidebar-button:hover .svg-container {
    color: white;
}

.sidebar-button:hover p {
    color: white;
    font-weight: 900;
}

.sidebar-button-icon {
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.sidebar-button-title {
    display: flex;
    position: absolute;
    left: 30px;
    height: 46px;
    width: 124px;
    padding-left: 56px;
    z-index: 1;
    opacity: 0;
    font: 700 18px Nunito Sans;
    transition: opacity 0.5s;
    pointer-events: none;
}

.sidebar-button:hover .sidebar-button-title {
    pointer-events: all;
}

.sidebar-button-title {
    display: flex;
    align-items: center;
    color: white;
    padding-bottom: 4px;
}

.sidebar-column:hover .sidebar-button-title {
    opacity: 1;
}

.current {
    background: #0067dd;
    border-radius: 8px;
    color: white;
    font-weight: 900;
}

.svg-container {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex:0 0 auto;
    width: 45px;
    height: 45px;
    color: #ffffff;
}


.current .svg-container {
    color: white;
}

.sibebar-section-sub-options {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 24px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e1e0e7;
    width: 180px;
}

.sidebar-sub-button {
    display: grid;
    justify-content: left;
    color: white;
    font: 600 16px Nunito Sans;
    margin-bottom: 6px;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #ffffff00;
}

.current-sub-option {
    color: #042b58;
    background: #f0f7ff;
    border-bottom: 2px solid #3492ff;
}

.sidebar-sub-button:hover {
    color: #ffffff;
    background: linear-gradient(188.32deg, #023c73 55.84%, #023c73 93.62%), linear-gradient(0deg, #0067dd, #0067dd);
    border-bottom: 2px solid #D3E7FF;
}

.sibebar-section-sub-options a {
    margin: 4px auto 4px 8px;
    color: inherit;
    text-decoration: inherit;
}

.sidebar-home-button {
    display: flex;
    justify-content: flex-start;
    padding-left: 13px;
    padding-top: 0px;
    margin-bottom: 54px;
    background: none;
    border: none;
}

.sidebar-home-button-container {
    display: flex;
    font: 400 14px Nunito Sans;
}

.sidebar-home-button-icon {
    height: 46px;
    max-width: 46px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-left: 21px;
    padding-right: 11px;
    z-index: 2;
}

.sidebar-logo-container {
    display: flex;
    align-items: center;
  }
  
.sidebar-logo {
    display: flex;
}