.page-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f6f9fa;
    padding-top: 98px;
    position: relative;
    min-height: 100vh;
}

.content-container {
    padding-left: 80px;
    width: 100%;
}

.chat-bot {
    position: fixed;
    bottom: 44px;
    right: 44px;
}

.chat-bot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 101.25px;
    width: 106.05px;
}