.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    z-index: 10;
}

.sidebar-column {
    box-sizing: border-box;
    padding-right: 15.5px;
    padding-left: 15.5px;
    background: white;
    border-right: 2px solid #d3e7ff;
    box-shadow: 0px 8px 16px rgba(76, 141, 217, 0.1);
    transition: 0.3s;
    width: 80px;
    height: 100%;
}

.sidebar-column:hover {
    width: 212px;
}

.sidebar-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 30px;
    border-bottom: 1px solid #e1e0e7;
    width: 100%;
}

.sidebar-button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 21px;
    background: none;
    border: none;
}

.sidebar-button-container {
    display: flex;
    color: #042b58;
    font: 400 14px Nunito Sans;
    margin-bottom: 6px;
}

.sidebar-column .sidebar-button {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
}

.sidebar-button:hover {
    background: #3492FF;
    border-radius: 8px;
}

.sidebar-button:hover .svg-container {
    color: white;
}

.sidebar-button:hover p {
    color: white;
    font-weight: 900;
}

.sidebar-button-icon {
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.sidebar-button-title {
    display: flex;
    position: absolute;
    left: 16px;
    height: 46px;
    width: 124px;
    padding-left: 56px;
    z-index: 1;
    opacity: 0;
    font-size: 18px;
    transition: opacity 0.5s;
    pointer-events: none;
}

.sidebar-button:hover .sidebar-button-title {
    pointer-events: all;
}

.sidebar-button-title p {
    display: flex;
    align-items: center;
    color: inherit;
}

.sidebar-column:hover .sidebar-button-title {
    opacity: 1;
}

.current {
    background: #0067dd;
    border-radius: 8px;
    color: white;
    font-weight: 900;
}

.svg-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    color: #3492ff;
}


.current .svg-container {
    color: white;
}

.sibebar-section-sub-options {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 24px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e1e0e7;
    width: 180px;
}

.sidebar-sub-button {
    display: grid;
    justify-content: left;
    color: #042b58;
    font: 400 15px Nunito Sans;
    margin-bottom: 6px;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #ffffff00;
}

.current-sub-option {
    color: #042b58;
    background: #f0f7ff;
    border-bottom: 2px solid #3492ff;
}

.sidebar-sub-button:hover {
    color: #042b58;
    background: linear-gradient(188.32deg, #FFFFFF 55.84%, #F2F4F6 93.62%), linear-gradient(0deg, #D3E7FF, #D3E7FF);
    border-bottom: 2px solid #D3E7FF;
}

.sibebar-section-sub-options a {
    margin: 4px auto 4px 8px;
    color: inherit;
    text-decoration: inherit;
}

.sidebar-home-button {
    display: flex;
    justify-content: flex-start;
    padding-left: 7px;
    padding-top: 0px;
    margin-bottom: 54px;
    background: none;
    border: none;
}

.sidebar-home-button-container {
    display: flex;
    font: 400 14px Nunito Sans;
}

.sidebar-home-button-icon {
    height: 46px;
    max-width: 46px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-left: 11px;
    padding-right: 11px;
    z-index: 2;
}

.sidebar-logo-container {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
.sidebar-logo {
    display: flex;
}