.page-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f6f9fa;
    padding-top: 98px;
}

.content-container {
    margin: 17.75px 16px 17.75px 16px;
    padding-left: 80px;
    width: 100%;
}