.loginpage-big-image-card {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-top: 22px;
}
.loginpage-big-image-container {
  box-sizing: border-box;
  display: block;
  width: 480px;
  max-width: initial;
  height: 400px;
  border: none;
  object-fit: cover;
}
.loginpage-img-content-789c4772 {
  content: url("https://s3-alpha-sig.figma.com/img/f5f6/8c8e/9379374df30fe847a11f1ed930d19a6d?Expires=1697414400&Signature=c10IjLzEORG~gLYbjifRMHCaovqdhHgXKqmw39~IYYzVB6T~cSOUVNS8BApaMiZ~r6t1uG745HA-FZY80IsI0XjzZagjscSCzW-LhNUIQzVekJs2kCNYDCN~J2BlKs6EbHX6wfZSL02~603DTF7SnO0BLT7EAFdhqus8PIqwzkxLk5CwsmQQ1zhYw18HiORIjBAGZodTNu9Cn581lYdkLKqL4zj0krTe6iPjtkRRiy7m3L75EA1ZR4h-nJr-lp2nbTOViUdqteAeJCDUQn0RJL7dlS3TLL3xO~hhS1duGWMEtHnm1NZMjHtGV04GT6nd8PCDFRBA1Ym6MX8DfddaRQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}