.loginpage-big-image-card {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-top: 22px;
}
.loginpage-big-image-container {
  box-sizing: border-box;
  display: block;
  width: 480px;
  max-width: initial;
  height: 400px;
  border: none;
  object-fit: cover;
}
.loginpage-img-content-789c4772 {
  content: url("https://s3-alpha-sig.figma.com/img/f5f6/8c8e/9379374df30fe847a11f1ed930d19a6d?Expires=1698624000&Signature=ajQ9CkOJ3US3ZskzKyrDJN42ecoamW5Co3IOW8Suh6C-4tAsCcutVeYwhFbR1wKLvE5QJyMpshKsKia0CnizC99j2SZ1mwNq6Z9Yk3v5DhDyrQ-Av~j1Nhr0f2ZtquhxrgcBKI8bucxHLmE83qJhjylCGTaGcNzbp57a1WuoVnDicDrDdDfcwBzN313NVrLBvreu5aKeo6Ihw70ruwEB14FZHTFa1YYTbDVxrEq5e9zQMQP3280hPh~1IcmGh4LMuAF~idgbPUSc1bLdKiNOi~sDuwJTQBjSvehmR4~x8cEh9a6UZMbPU5wSgsH~6ZAxdeJPt9fBPZdvGhGM8mXq3A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}