.loginpage-user-input-card {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 2.5px;
  padding-left: 2.5px;
}
.loginpage-user-input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.5px 8px;
  border: 1px solid #e3e2e2;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.loginpage-user-icon-container {
  box-sizing: border-box;
  display: block;
  width: 24.5px;
  max-width: initial;
  height: 27px;
  border: none;
  object-fit: cover;
}

.loginpage-user-input-text {
  flex: 0 0 auto;
  margin-left: 4.5px;
  font: 600 22px Nunito Sans;
  color: #1c386b;
  letter-spacing: -0.01em;
  width: 300px;
  height: 21px;
  border: none;
  align-self: center;
}

.loginpage-user-img-content-icon {
  content: url("https://s3-alpha-sig.figma.com/img/f071/b76f/e3a74201f2999f6d4139c91b06f56f85?Expires=1699833600&Signature=QIZBTE~TZ6m2tERHfvM~v9GmYd7CzHvAwK8Uv~l2q-WuE3K0sukq-RuClNTmzpMZcdE5bGvS43HoD-RxL0aZm0uW0p7IB5K4jq7pQIZoU2sL63cDTm9GPEMEB8tqtanN1HJcTI7cfTlv4NWo1BH7vhlx3Cyk~BsgZDoLYlS2g0HjEwRZnolYvbsVMTUZQn6o~7P24RGI6Jt1qRbYL4fI7~9Rt6UculTI3teSTBNwoMAYgMmNqy72~oOvbtchmEv8u2Ld6vxJZxRHAxmsbndNPPpvhP2-chKlgyFTyrLWX0XeBUal27V8SNMZOWoaNl2VZP~1PM32zh~K61Y59xTqRQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}