.loginpage-user-input-card {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 2.5px;
  padding-left: 2.5px;
}
.loginpage-user-input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.5px 8px;
  border: 1px solid #e3e2e2;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.loginpage-user-icon-container {
  box-sizing: border-box;
  display: block;
  width: 24.5px;
  max-width: initial;
  height: 27px;
  border: none;
  object-fit: cover;
}

.loginpage-user-input-text {
  flex: 0 0 auto;
  margin-left: 4.5px;
  font: 600 22px Nunito Sans;
  color: #1c386b;
  letter-spacing: -0.01em;
  width: 300px;
  height: 21px;
  border: none;
  align-self: center;
}

.loginpage-user-img-content-icon {
  content: url("https://s3-alpha-sig.figma.com/img/f071/b76f/e3a74201f2999f6d4139c91b06f56f85?Expires=1698624000&Signature=gOy8UpoUR6fovKsw5uFEzX1Rua~iEk-j55QuSYwHeqTaQm-m1FgHPBrRacgGWK9b4jf0V-m6Wux2GNYbdNCvv2R68VNknFOsgEYs2GzC9gPXNUgNmc0BSigM6ErmAMSGj554yAOXjeRYSQbsofP~x6jf81igG928CaH7oemxAI4hO5dgVWLkkwChJYG2IXnMrgLTqUEwrWYDT-wLW7t~vLFta~LW8EeQYuDHX~hRitnE4BYCL0pcA6zv4gcPsUW~yShuaHwVhAnOuCb1R4MhCDsr~-r0QBz6eyOtBT9JRuTpwiU-ef8VQyiIuMVAXFp2eWN~xOrt-YTSlubHwOc56A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}